<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Personas</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<h2>Persona</h2>
		<form action="#" th:action="@{/save}" th:object=${persona} method="post">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
			</div>
			<div>
				<label for="apellido">apellido</label>
				<input type="text" class="form-control" id="apellido" th:field="*{apellido}" name="apellido">
			</div>
			<div>
				<label for="direccion">direccion</label>
				<input type="text" class="form-control" id="direccion" th:field="*{direccion}" name="direccion">
			</div>
			<div>
				<label for="telefono">telefono</label>
				<input type="text" class="form-control" id="telefono" th:field="*{telefono}" name="telefono">
			</div>
			</br>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>